@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

.body-home {
  background-image: url('../img/5.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.562);
  background-blend-mode: darken;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0.491);
  -webkit-backdrop-filter: blur(20px); 
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
.welcome-text {
  min-height: 80vh;
  /* border-radius: 10px;*/
}

.welcome-text img {
  width: 100px;
}
.welcome-text h4 {
  color: #eee;
  font-size: 51px;
  font-family: "Lobster Two", cursive;
}
.welcome-text p {
  color: #ececec;
  background: rgba(252, 253, 255, 0.566);
  padding: 5px;
  border-radius: 4px;
}
#about {
  min-height: 100vh;
}
#about .card-1 {
  max-width: 700px;
  width: 90%;
  background: rgba(252, 253, 255, 0.566);
  padding: 20px;
  border-radius: 5px;
}
#about .card-1 h5 {
  font-family: "Lobster Two", cursive;
  font-size: 28px;
  color: rgb(63, 112, 177);
}
#contact {
  min-height: 100vh;
}
#contact form {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
}
#contact .c1 {
  width: 500px;
}
.card-text {
  color: rgb(148, 177, 227);
}
.card-text small {
  color: rgb(63, 112, 177);
}
#contact form h3 {
  text-align: center;
  font-family: "Lobster Two", cursive;
  color: rgb(63, 112, 177);
}
textarea {
  resize: none;
}
.custom-btn {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 12px 30px;
  line-height: 1;
  border-radius: 50px;
  border: 1px solid var(--bs-light);
  color: var(--bs-light);
  background-color: transparent;
  margin: 10px;
  transition: all 0.3s ease;
}
.custom-btn:hover {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}
     .container {
    width: 90%; /* Default width to take most of the screen on small devices */
    max-width: 350px; /* Maximum width to prevent it from becoming too large */
    padding:1.5rem; 
    margin-top: 60px;
    border-radius:10px; 
    box-shadow:0 20px 35px rgba(0,0,1,0.9); 
    box-sizing: border-box; /* Includes padding in the total width/height */
}

.btn{ 
  font-size:1.1rem;  
  border-radius:5px; 
  outline:none; 
  border:none; 
  width:100%; 
  background:rgb(133, 162, 255);
  color:white; 
  cursor:pointer; 
  transition:0.9s; 
} 
.btn:hover{ 
  background:#07001f; 
   color:white; 
} 
.container img {
    display: block; /* Makes the image block-level */
    margin-left: auto;  /* Auto margin on the left */
    margin-right: auto; /* Auto margin on the right */
    width: 100px;  /* Adjust as necessary */
}
 h3 {
      font-family: "Lobster Two", cursive;
      color: darckgray;
      /* Make sure the text is white */
      text-align: center;
      /* Center the text horizontally */
    }